In [1]:
import pandas as pd

# Person

In [2]:
person = pd.read_csv("./sample_data/dblp_author.csv",
                    header=0,
                    sep=';')

person.head()

        :ID     author:string
0  10573921       Paul Kocher
1  10573922     Daniel Genkin
2  10573923      Daniel Gruss
3  10573924  Werner Haas 0004
4  10573925      Mike Hamburg

In [3]:
# Fix columns name
person = person.rename({':ID': 'id', 'author:string': 'name'}, axis=1)

# Set id to be used as index
person = person.set_index('id')
person.head()

                      name
id
10573921       Paul Kocher
10573922     Daniel Genkin
10573923      Daniel Gruss
10573924  Werner Haas 0004
10573925      Mike Hamburg

## Store

In [4]:
person.to_csv('./processed_data/person.csv')

## Neo4j Load

```
LOAD CSV WITH HEADERS FROM 'file:///person.csv'
AS row
CREATE (p:Person {id: row['id'], p_name: row['name']})
;
```

# In-proceedings

In [5]:
# ip = read_file_with_header("./sample_data/dblp_inproceedings.csv")
ip = pd.read_csv("./sample_data/inproceedings.csv",
                 header=0,
                 sep=';')
ip

/tmp/ipykernel_12645/96287690.py:2: DtypeWarning: Columns (2,5,6,7,9,10,12,16,17,18,19,21,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  ip = pd.read_csv("./sample_data/inproceedings.csv",

,inproceedings:ID,author:string[],author-aux:string[],author-orcid:string[],booktitle:string,cdrom:string[],cite:string[],cite-label:string[],crossref:string[],editor:string[],...,pages:string,publtype:string,sub:string[],sup:string[],title:string,title-bibtex:string,tt:string,url:string,volume:int,year:int
0,800,Arnon Rosenthal,NaN,NaN,SWEE,NaN,NaN,NaN,conf/swee/1998,NaN,...,NaN,NaN,NaN,NaN,The Future of Classic Data Administration: Obj...,NaN,NaN,db/conf/swee/swee1998.html,NaN,1998
1,817,E. F. Codd,NaN,NaN,IFIP Working Conference Data Base Management,DS/DS1974/P179.pdf,NaN,NaN,conf/ds/1974,NaN,...,179-200,NaN,NaN,NaN,Seven Steps to Rendezvous with the Casual User.,NaN,NaN,db/conf/ds/dbm74.html#Codd74,NaN,1974
2,171446,Sven Lorenz|Toni Bollinger|Udo Pletat,NaN,NaN,Text Understanding in LILOG,NaN,NaN,NaN,journals/lncs/1991-546,NaN,...,402-427,NaN,NaN,NaN,The LILOG Inference Engine.,NaN,NaN,db/journals/lncs/lncs546.html#BollingerLP91,NaN,1991
3,171447,Geoffrey Simmons|Kai-Uwe Carstensen,NaN,NaN,Text Understanding in LILOG,NaN,NaN,NaN,journals/lncs/1991-546,NaN,...,632-644,NaN,NaN,NaN,Why a Hill Can't be a Valley: Representing Ges...,NaN,NaN,db/journals/lncs/lncs546.html#CarstensenS91,NaN,1991
4,171448,David W. Flater|Yelena Yesha,NaN,NaN,Advanced Database Systems,NaN,NaN,NaN,journals/lncs/1993-759,NaN,...,259-276,NaN,NaN,NaN,Towards Flexible Distributed Information Retri...,NaN,NaN,db/journals/lncs/lncs759.html#FlaterY93,NaN,1993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3421267,10447692,Angela C. Sodan,NaN,NaN,JSSPP,NaN,NaN,NaN,conf/jsspp/2009,NaN,...,259-279,NaN,NaN,NaN,Adaptive Scheduling for QoS Virtual Machines u...,NaN,NaN,db/conf/jsspp/jsspp2009.html#Sodan09,NaN,2009
3421268,10447693,Anand Sivasubramaniam|Hubertus Franke|José E. ...,NaN,NaN,JSSPP,NaN,NaN,NaN,conf/jsspp/2001,NaN,...,133-158,NaN,NaN,NaN,An Integrated Approach to Parallel Scheduling ...,NaN,NaN,db/conf/jsspp/jsspp2001.html#ZhangFMS01,NaN,2001
3421269,10447694,Richard Gibbons,NaN,NaN,JSSPP,NaN,NaN,NaN,conf/jsspp/1997,NaN,...,58-77,NaN,NaN,NaN,A Historical Application Profiler for Use by P...,NaN,NaN,db/conf/jsspp/jsspp1997.html#Gibbons97,NaN,1997
3421270,10447695,Narayan Desai|Walfredo Cirne,NaN,NaN,JSSPP,NaN,NaN,NaN,conf/jsspp/2016,NaN,...,274-278,NaN,NaN,NaN,Open Issues in Cloud Resource Management.,NaN,NaN,db/conf/jsspp/jsspp2016.html#DesaiC16,NaN,2016
3421271,10447696,Elie Krevat|José E. Moreira|José G. Castaños,NaN,NaN,JSSPP,NaN,NaN,NaN,conf/jsspp/2002,NaN,...,38-54,NaN,NaN,NaN,Job Scheduling for the BlueGene/L System.,NaN,NaN,db/conf/jsspp/jsspp2002.html#KrevatCM02,NaN,2002

In [6]:
# Fix columns name
ip = ip.rename({
    'inproceedings:ID': 'inproceedings',
    'author:string[]': 'author',
    'author-aux:string[]': 'author_aux',
    'author-orcid:string[]': 'author_orcid',
    'booktitle:string': 'booktitle',
    'cdrom:string[]': 'cdrom',
    'cite:string[]': 'cite',
    'cite-label:string[]': 'cite_label',
    'crossref:string[]': 'crossref',
    'editor:string[]': 'editor',
    'editor-orcid:string[]': 'editor_orcid',
    'ee:string[]': 'ee',
    'ee-type:string[]': 'ee_type',
    'i:string[]': 'i',
    'key:string': 'key',
    'mdate:date': 'mdate',
    'month:string': 'month',
    'note:string': 'note',
    'note-type:string': 'note_type',
    'number:string': 'number',
    'pages:string': 'pages',
    'publtype:string': 'publtype',
    'sub:string[]': 'sub',
    'sup:string[]': 'sup',
    'title:string': 'title',
    'title-bibtex:string': 'title_bibtex',  # Only 26 rows have this information
    'tt:string': 'tt',  # Only 3 rows have this non-na
    'url:string': 'url',
    'volume:int': 'volume',  # Only 21 rows have the volume
    'year:int': 'year'
}, axis=1)

ip.head()

,inproceedings,author,author_aux,author_orcid,booktitle,cdrom,cite,cite_label,crossref,editor,...,pages,publtype,sub,sup,title,title_bibtex,tt,url,volume,year
0,800,Arnon Rosenthal,NaN,NaN,SWEE,NaN,NaN,NaN,conf/swee/1998,NaN,...,NaN,NaN,NaN,NaN,The Future of Classic Data Administration: Obj...,NaN,NaN,db/conf/swee/swee1998.html,NaN,1998
1,817,E. F. Codd,NaN,NaN,IFIP Working Conference Data Base Management,DS/DS1974/P179.pdf,NaN,NaN,conf/ds/1974,NaN,...,179-200,NaN,NaN,NaN,Seven Steps to Rendezvous with the Casual User.,NaN,NaN,db/conf/ds/dbm74.html#Codd74,NaN,1974
2,171446,Sven Lorenz|Toni Bollinger|Udo Pletat,NaN,NaN,Text Understanding in LILOG,NaN,NaN,NaN,journals/lncs/1991-546,NaN,...,402-427,NaN,NaN,NaN,The LILOG Inference Engine.,NaN,NaN,db/journals/lncs/lncs546.html#BollingerLP91,NaN,1991
3,171447,Geoffrey Simmons|Kai-Uwe Carstensen,NaN,NaN,Text Understanding in LILOG,NaN,NaN,NaN,journals/lncs/1991-546,NaN,...,632-644,NaN,NaN,NaN,Why a Hill Can't be a Valley: Representing Ges...,NaN,NaN,db/journals/lncs/lncs546.html#CarstensenS91,NaN,1991
4,171448,David W. Flater|Yelena Yesha,NaN,NaN,Advanced Database Systems,NaN,NaN,NaN,journals/lncs/1993-759,NaN,...,259-276,NaN,NaN,NaN,Towards Flexible Distributed Information Retri...,NaN,NaN,db/journals/lncs/lncs759.html#FlaterY93,NaN,1993

In [7]:
ip['volume'] = ip['volume'].astype('Int32')
ip['type'] = ip['crossref'].str.extract(r'([^/]+)')[0].values

In [8]:
ip.dtypes

inproceedings     int64
author           object
author_aux       object
author_orcid     object
booktitle        object
cdrom            object
cite             object
cite_label       object
crossref         object
editor           object
editor_orcid     object
ee               object
ee_type          object
i                object
key              object
mdate            object
month            object
note             object
note_type        object
number           object
pages            object
publtype         object
sub              object
sup              object
title            object
title_bibtex     object
tt               object
url              object
volume            Int32
year              int64
dtype: object

In [9]:
cols_to_keep = [
    'inproceedings',
    'author',
    'booktitle',
    'pages',
    'title',
    'month',
    'url',
    'year',
    'type'
]
ip = ip[cols_to_keep]#[~ip['tt'].isna()].shape[0]

In [10]:
# LOAD CSV WITH HEADERS FROM 'file:///inproceedings.csv'
# AS row
# CREATE (n:InProceedings
#     {
#         inproceedings: row['inproceedings'],
#         author: row['author'],
#         booktitle: row['booktitle'],
#         pages: row['pages'],
#         title: row['title'],
#         month: row['month'],
#         url: row['url'],
#         year: row['year']
#     }
# )
# ;

In [11]:
ip.to_csv('./processed_data/inproceedings.csv', escapechar='\\')

- [ ] Remove the Author from the node

## Load into Neo4j

```
LOAD CSV WITH HEADERS FROM 'file:///inproceedings.csv' AS row
CREATE (n:InProceedings {
    inproceedings: row['inproceedings'],
    author: row['author'],
    booktitle: row['booktitle'],
    pages: row['pages'],
    title: row['title'],
    month: row['month'],
    url: row['url'],
    year: row['year']
})
CREATE (c:Conference {
    name: row['booktitle'],
    year: row['year'],
    article: row['title'],
    type: row['type']
})
RETURN n, c;

```

In [12]:
path = './sample_data/'
file = 'dblp_article.csv'
file2 = 'dblp_article_header.csv'

df = pd.read_csv(path + file, delimiter = ';', low_memory=False, header = None)
df_header = pd.read_csv(path + file2, delimiter = ';')

df.columns = df_header.columns.str.extract(r'([^:]+)')[0].values
cols_to_keep = ['author','journal','editor' ,'title', 'key','volume','year'] 

df_bridge = df[cols_to_keep]
# df_bridge = df_bridge.assign(author=df_bridge['author'].str.split('|')).explode('author').reset_index(drop=True)
# df_bridge = df_bridge.assign(editor=df_bridge['editor'].str.split('|')).explode('editor').reset_index(drop=True)

In [13]:
df_bridge.to_csv('./processed_data/journal.csv', escapechar='\\')

# Create Edges

```
MATCH (p:Person), (ip:InProceedings)
WHERE p.p_name = ip.author
CREATE (p)-[e:Wrote]->(ip)
RETURN * LIMIT 25
```

```
MATCH (j:Journal), (c:Conference)
WHERE j.title = c.name
CREATE (j)-[e:published_in]->(c)
```

In [14]:
stop

NameError: name 'stop' is not defined

```:auto
CALL {
    LOAD CSV WITH HEADERS FROM "file:///journal.csv"
    AS row
    // RETURN row',
    CREATE (:Journal {author: row.author, journal: row.journal, title:row.title})
} IN TRANSACTIONS OF 2000 ROWS;
```

# Load into Neo4j

In [ ]:
!#sudo cp ./processed_data/* ./neo4j/import/

# Neo4j

In [ ]:
import neo4j

In [ ]:
conn = neo4j.GraphDatabase.driver(
    uri="neo4j://localhost"
)

In [ ]:
# Delete nodes and relationships
query = """
    MATCH (n)
    DETACH DELETE n;
"""

In [ ]:
result = conn.session().run(query)

In [ ]:
query = """
    LOAD CSV WITH HEADERS FROM 'file:///dblp_author.csv'
    AS row
    FIELDTERMINATOR ';'
    CREATE (p:Person {id: row[':ID'], name: row['author:string']})
    ;
"""

In [ ]:
result = conn.session().run(query)

In [ ]:
result = conn.session().run(
    "MATCH (n) RETURN (n) LIMIT 50"
)

In [ ]:
for r in result:
    print(r.data())