In [1]:
import pandas as pd

# Person

In [2]:
person = pd.read_csv("./sample_data/dblp_author.csv",
                    header=0,
                    sep=';')

person.head()

        :ID     author:string
0  10573921       Paul Kocher
1  10573922     Daniel Genkin
2  10573923      Daniel Gruss
3  10573924  Werner Haas 0004
4  10573925      Mike Hamburg

In [3]:
# Fix column name
person = person.rename({':ID': 'id', 'author:string': 'name'}, axis=1)

# Set id to be used as index
person = person.set_index('id')
person.head()

                      name
id
10573921       Paul Kocher
10573922     Daniel Genkin
10573923      Daniel Gruss
10573924  Werner Haas 0004
10573925      Mike Hamburg

## Store

In [4]:
person.to_csv('./processed_data/person.csv')

## Neo4j Load

```
LOAD CSV WITH HEADERS FROM 'file:///person.csv'
AS row
CREATE (p:Person {id: row['id'], p_name: row['name']})
;
```

# Load into Neo4j

In [5]:
!#sudo cp ./processed_data/* ./neo4j/import/

# Neo4j

In [ ]:
import neo4j

In [ ]:
conn = neo4j.GraphDatabase.driver(
    uri="neo4j://localhost"
)

In [ ]:
# Delete nodes and relationships
query = """
    MATCH (n)
    DETACH DELETE n;
"""

In [ ]:
result = conn.session().run(query)

In [ ]:
query = """
    LOAD CSV WITH HEADERS FROM 'file:///dblp_author.csv'
    AS row
    FIELDTERMINATOR ';'
    CREATE (p:Person {id: row[':ID'], name: row['author:string']})
    ;
"""

In [ ]:
result = conn.session().run(query)

In [ ]:
result = conn.session().run(
    "MATCH (n) RETURN (n) LIMIT 50"
)

In [ ]:
for r in result:
    print(r.data())